.fullPageSearchTitle{
    display: none;
}

/* first resizing*/
@media screen and (max-width: 990px) {
    .left-block {
        padding-top: 0;
    }
    .navbar-inverse .caption, .navbar-top .caption, .nav-content .caption, #slogan, .basket-block > div, .phone{
        display: none;
    }
    .navbar-menu .navbar-nav > li{
        padding: 0 15px;
    }

    .carousel-caption{
        padding: 10px;
    }
    .carousel-caption h1{
        font-size: 20px;
    }
    .carousel-caption p{
        display: none;
    }
}



@media screen and (max-width: 768px) {
    .navbar-menu-top-hidden .navbar-header{
        float: none;
    }
}
@media screen and (max-width: 767px) {
    /*hamburger*/
    .navbar-menu .navbar-nav>li{
        padding-left: 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus{
        background: inherit;
    }
    .navbar-menu .navbar-nav > li > .dropdown-menu{
        background-color: inherit;
    }


    .header-content{
        margin-bottom: 7px;
    }
    .min-logo{
        display: inline-block;
    }
    .logo{
        display: none;
    }
    /*theme*/
    .navbar-top .navbar-right > li:last-child, .nav-content > ul > li:last-child{
        /*display: none;*/
    }
    #basketCountSpan{
        word-wrap: break-word;
        display: inline-block;
        white-space: normal;
    }
    .navbar-top .navbar-toggle{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbar-top .navbar-toggle .icon-bar{
        height: 1px;
    }
    .navbar-menu, .navbar-top{
        display: none;
    }
    .navbar-menu-hidden, .navbar-menu-top-hidden{
        display: block;
    }
    .footer .row > div:nth-child(2), .footer .row > div:nth-child(3){
        display: none;
    }
    .footer .row > div:nth-child(1){
        width: 100%;
    }
    .fullPageCategoryTitle, h1.title{
        display: none;
    }
    .fullPageSearchTitle{
        display: block;
    }
    .card{
        width: 95%;
    }
    .cardBlack{
        top: 25%;
    }
    .navbar-brand{
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .list-style-block{
        display: none;
    }
    .sort-block{
        width: 100%;
        text-align: right;
    }
    .sort-block a{
        color: inherit;
    }


}

@media screen and (max-width: 480px) {
    .list-block{
        width: 50%;
    }
    .product-view > div:first-child{
        width: 100%;
    }
    .product-view > div:nth-child(2), .product-view > div:nth-child(3){
        margin-top: 10px;
    }
    .product-view > div:nth-child(2){
        width: 70%;
    }
    .product-view > div:nth-child(3){
        width: 30%;
    }

    #product-tabs > li{
        width: 33%;
        overflow: hidden;
    }
    #product-tabs > li > a{
        overflow: hidden;
    }
    #order-online_payment_type > label{
        width: 100%;
        margin-bottom: 5px;
    }
    .orderCreate2 > div{
        width: 100%;
    }

    #carousel-index .img-responsive,
    #carousel-index .thumbnail > img, .thumbnail a > img,
    #carousel-index .carousel-inner > .item > img,
    #carousel-index .carousel-inner > .item > a > img{
        max-width: 100%;
    }
    .carousel-caption, .wrap-indicators{
        width: 100%;
    }
    .carousel-caption h1{
        font-size: 18px;
    }
    .carousel-caption{
        text-align: center;
        position: static;
    }
    .wrap-indicators{
        position: static;
    }
    #basketForm label{
        max-width: 100%;
        white-space:normal;
        /*overflow: hidden;*/
        word-wrap: break-word;
        word-break: break-all;
    }
    #basketForm .buttons .btn{
        margin-top: 5px;
        max-width: 100%;
        white-space:normal;
        text-align: left;
    }
    .countTD input{
        width: 35px !important;
        padding: 6px;
    }
    #orderProductsGrid table tr th:nth-child(1), #orderProductsGrid table td:nth-child(1),
    #orderProductsGrid table tr th:nth-child(4), #orderProductsGrid table td:nth-child(4){
        display: none;
    }
    #orderProductsGrid table thead tr th:nth-child(3){
        width: 40px;
        white-space:normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    #orderProductsGrid table tr td:nth-child(2){
        width: 80px;
        white-space:normal;
        word-wrap: break-word;
        word-break: break-all;
    }
}
@media screen and (max-width: 330px) {
    .list-block{
        width: 100%;
        min-width: 100%;
    }

    .inputRange{
        width: 50px !important;
        padding: 6px;
    }

}


