li{
    list-style-type: none;
}
.header{
    height: auto;
}
.container{
    max-width: 980px;
}
.container img{
    max-width: 100%;
}






@media (min-width: 768px){
    .navbar-collapse.collapse{
        padding-right: 0;
        padding-left: 0;
    }
}
.navbar-top{
    border-right: none;
    border-left: none;
    border-radius: 0;
    min-height: 20px;
    background: white;
}
.navbar-top .navbar-left {
    margin-left: -7px;
}
.navbar-top .navbar-right {
    margin-right: -7px;
}
/*hamburger*/
@media (max-width: 768px){
    .navbar-top .navbar-left {
        margin-left: -15px;
    }
}
.navbar-top .navbar-nav > li > a{
    padding: 7px;
    font-size: 11px;
    color: #535353;
}
.navbar-top .navbar-nav > .active > a,
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus,
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus{
    color: #333;
    background-color: inherit;
}



.navbar-menu{
    border-right: none;
    border-left: none;
    border-radius: 0;
    min-height: 30px;
    z-index: 10;
    margin-bottom: 0;
}
.navbar-menu .navbar-left {
    margin-left: -7px;
}
.navbar-menu .navbar-right {
    margin-right: -7px;
}

@media (max-width: 768px){
    .navbar-menu .navbar-left {
        margin-left: -15px;
    }
}

.navbar-menu .navbar-nav > li > a{
    padding: 10px 7px;
    font-size: 16px;
}

.navbar-menu .navbar-nav > .open > a,
.navbar-menu .navbar-nav > .open > a:hover,
.navbar-menu .navbar-nav > .open > a:focus,
.navbar-menu .navbar-nav > .active > a,
.navbar-menu .navbar-nav > .active > a:hover,
.navbar-menu .navbar-nav > .active > a:focus{
    background-color: inherit;
}

.navbar-menu li li.active > a{
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
}
.navbar-menu .navbar-nav > li > .dropdown-menu > li a:hover{
    text-decoration: underline;
}
#shadow{
    width: 100%;
    position: absolute;
    z-index: 9;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    background: white;
}

.navbar-menu .navbar-nav > .active > a,
.navbar-menu .navbar-nav > .active > a:hover,
.navbar-menu .navbar-nav > .active > a:focus,

.navbar-menu .navbar-nav > .active,
.navbar-menu .navbar-nav > .active:hover,
.navbar-menu .navbar-nav > .active:focus,

.navbar-menu .dropdown-menu > .active > a,
.navbar-menu .dropdown-menu > .active > a:hover,
.navbar-menu .dropdown-menu > .active > a:focus{
    background-color: inherit;
}
.navbar-menu .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.navbar-menu .dropdown-menu > li li a:hover, .dropdown-menu > li li a:focus{
    background: inherit;
}

/*.navbar-menu .navbar-nav > li:first-child > .dropdown-menu{
    display: block;
}*/
.navbar-menu .navbar-nav {
    position: relative;
    width: 100%;
}
/*individual li padding*/
.navbar-menu .navbar-nav > li{
    position: relative;
    padding: 0 30px;
    display: none;/*not visible more than 6*/
}
.navbar-menu .navbar-nav>li:first-child{
    padding-left: 0;
}
.navbar-menu .navbar-nav>li:last-child{
    padding-right: 0;
}
.navbar-menu .navbar-nav > li:nth-child(-n+6){
    display: inline-block;
}
/*latest 2 visible*/
.navbar-menu .navbar-nav > li:nth-last-child(-n+2) {
    display: inline-block;
}

.navbar-menu .navbar-nav > li > .dropdown-menu{
    border:0;
    border-radius:0;
    box-shadow: none;
    width: 950px;
}
.navbar-menu .navbar-nav > li > .dropdown-menu > li{
    display: inline-block;
    vertical-align: top;
    width: 155px;
    min-height: 120px;
}
.navbar-menu .navbar-nav > li > .dropdown-menu > li a{
    white-space:normal;
    line-height: 12px;
    padding: 3px 8px;
}
.navbar-menu .navbar-nav > li > .dropdown-menu ul{
    padding-left: 5px;
}
.navbar-menu .navbar-nav > li > .dropdown-menu > li a.bold {
    font-weight: 600;
    color: #535353;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-brand{
    cursor: pointer;
    height: auto;
    padding: 9px 0;
    display: none;
}
span.navbar-brand{
    cursor: auto;
}






















.breadcrumb{
    padding: 0;
    background-color: inherit;
    margin: 0 0 7px 0;
}
.breadcrumb > li + li:before{
    content:"»";
    color: #555;
    position: relative;
    top:-1px;
}

h1, .h1, h2, .h2, h3, .h3{
    margin-top: 0;
}
h1, .h1{
    font-size: 24px;
}




@font-face {
    font-family: 'MyriadSetPro-Text';
    src: local('MyriadSetPro-Text'), url('../fonts/woff.woff') format('woff');
}


body { font-family:'MyriadSetPro-Text'; }


.left-block{
    font-size: 30px;
    padding-top: 15px;
    vertical-align: middle;
}
.left-block a{
    color: inherit;
    text-decoration: none;
}
.middle-block{
    vertical-align: middle;
    padding-top: 5px;
}
.right-block{
    vertical-align: bottom;
    text-align: right;
    padding-top: 5px;
}
.basket-block{
    font-size: 15px;
    display: inline-block;
    text-align: left;
}
#slogan{
    font-size: 15px;
    margin-bottom: 17px;
    margin-top: 15px;
}
.phone{
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 10px;
    visibility: hidden;
}
.phone i{
    font-size: 13px;
}
/*.navbar-top .navbar-nav > li.phoneTop{
    padding: 7px 15px 0 0;
    letter-spacing: 1px;
}*/





.list-image > div, .list-image img{
    vertical-align: top;
    width: 120px;
    display: inline-block;
    border-radius: 3px;
}

.list-image .video-image:before{
    font-size: 18px;
}
.list-image .carousel-control{
    padding-top: 23%;
}

.view-image > div, .view-image img{
    width: 300px;
}

.categoriesBlock{
    margin: 6px 0 10px;
}
.categoriesBlock label{
    color: #525252;
}
.categoriesBlock ul{
    margin: 0;
    padding: 0;
}

.carousel{
    z-index: 0;
}
.carousel-inner{
}
#carousel-index .img-responsive, .thumbnail > img, .thumbnail a > img,
#carousel-index .carousel-inner > .item > img,
#carousel-index .carousel-inner > .item > a > img{
    max-width: 40%;
}
.carousel-caption{
    float: right;
    width: 60%;
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
    color:#333;
    text-align: left;
    text-shadow: none;
    padding: 20px;
}
.carousel-caption a{
    color: inherit;
}
.carousel-caption p{
    font-size: 24px;
}
.carousel-inner{
    z-index: 0;
}
.wrap-indicators{
    width: 58%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.carousel-indicators{
    position: relative;/*for perfect scrollbar, else it would be static*/
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin-left:0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: top;
    margin-bottom: 0;
}
.carousel-indicators li, .carousel-indicators .active{
    height: auto;
    text-indent:0;
    color: #6b6868;
    vertical-align: top;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid white;
    background: white;
    width: 25%;
    margin-bottom: 15px;
}
.carousel-indicators .active{
    border: 1px solid #e7e7e7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.176);
}
.carousel-indicators li span, .carousel-indicators .active span{
    line-height: 12px;
    display: block;
    margin-top: 3px;
    width:100%;
    overflow: hidden;
}
.carousel-indicators li img{
    width:100%;
}








.footer{
    min-height: 200px;
    padding: 20px 0;
    border-top:1px solid #e7e7e7;
}
.footerNav > li > a{
    padding: 1px;
}
.footerNav > li.active > a{
    text-decoration: underline;
}
.footerNav > li > a:hover, .footerNav > li > a:focus{
    background-color: inherit;
}
.footerNav{
    font-size: 13px;
}


.footer-block{
    padding: 1px;
    padding-bottom: 0;
}
.footer-block i{
    font-size: 12px;
    margin-right: 2px;
}

.copyright{
    width: 100%;
    text-align: right;
    font-size: 11px;
}

.min-logo{
    display: none;
}
.header-content{
    margin-bottom: 15px;
}

.navbar-menu-hidden, .navbar-menu-top-hidden{
    display: none;
}
.navbar-menu-hidden .navbar-toggle, .navbar-menu-top-hidden .navbar-toggle{
    float: left;
    padding: 7px 10px;
    border: none;
    margin: 5px;
}
.navbar-menu-top-hidden{
    min-height: 43px;
    background: white;
}
.navbar-menu-top-hidden .navbar-brand {
    padding: 12px 0 0 10px;
}
.navbar-menu-top-hidden .navbar-toggle{
    margin-right: 15px;
    border: 1px solid #ddd;
    padding: 9px 10px;
}
.navbar-menu-top-hidden .navbar-toggle{
    float: right;
}
.navbar-menu-top-hidden .navbar-toggle .icon-bar{
    height: 1px;
}
.nav-gray{

}