#basketForm .form-group{
    margin-bottom: 0;
}
.showBasket:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 10px;
    content: "\e116";
}

.alreadyInBasket:after{
    color: #985f0d;
}

.basketActive{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.spanBasketFieldStyle{
    display:inline-block;width: auto;
    border:none;box-shadow:none;
    padding-left:0; padding-right:5px;
}

#basketForm  .control-label{
   text-align: right;
}
#basketForm .has-success .form-control{
    box-shadow: none;
}