.comment-list{
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment-list .name, .comment-list .name a{
    color: #525252;
    font-weight: bold;
}
.comment-list .name a{
    text-decoration: underline;
}
.comment-list .date{
}


.sort-comment{
    margin:10px 0;
}